#code-output {
  background-color: var(--background_color-light);
  color: var(--text_color-dark);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#section-header{
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: var(--background_color-light-dark);
  padding: 0.5em;
}
.output-header{
  display: flex;
  background: var(--background_color-light-dark);
  color: #fff;
  border: 2px solid var(--background_color-dark);
  height: 2em;
  align-items: center;
  justify-content: center;
}

pre {
  text-align: left;
  flex: 1;
  overflow: scroll;
  margin: 0;
}

label{
  width: 60px;
  height: 24px;
  position: relative;
  display: block;
  background: #b8b5b5;
  border-radius: 12px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #f8b802;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
label:active:after {
  width: 32px;
}
input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}
input[type="checkbox"]:checked + label {
  background: #28292b;
}
input[type="checkbox"]:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: #7e7e7e;
}
.sun, .moon{
  position: absolute;
  width: 16px;
  z-index: 1;
  top: 4px;
}
.moon{
  right: 4px;
  transition: 0.4s;
  fill: #7e7e7e;
  stroke: #7e7e7e;
}
.sun {
  left: 4px;
  transition: 0.4s;
}
.copy-btn{
  background: var(--background_color-light-dark);
  border: none;
  align-content: center;
  display: flex;  
  gap: 0.5em;
}
.copy-btn img{
  width: 1.2em;
  height: 1.2em;
}