#playground {
  position: relative;
  background-color: var(--background_color-dark);
}
#playground::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.3em;
  height: 0.3em;
  background-color: var(--background_color-dark);
  z-index: 100;
}

#watermark {
  box-sizing: border-box;
  position: absolute;
  max-width: 100%;
  max-height: calc(100vh - 7em);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  pointer-events: none;
}

#playground .blocks {
  position: relative;
  overflow-y: scroll;
  z-index: 10;
  max-width: calc(47vw - 0.125em);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5em;
  gap: 1em;
  height: calc(100vh - 7em);
}

.btn-section {
  width: 6em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  cursor: pointer;
  gap: 0.5em;
  font-weight: 600;
  font-size: 1em;
  margin: 1em ;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
}
.clean{
  background: var(--secondary_color-400);
}
.clean:hover{
  background: var(--secondary_color-500);
}
.play{
  background: var(--tertiary_color-300);
}
.play:hover{
  background: var(--tertiary_color-400);
}

#playground .block--embedded {
  border: solid 0.08em var(--background_color-dark);
  box-shadow: 0 0 0 0.04em var(--tertiary_color-50);
  padding: 0.25em;
}

#playground .block input {
  max-width:5em;
}

#playground .block--with_nested_elems .block__placeholder {
  min-height: 0.125em;
}