.block__function {
  background-color: #f5a623;
  border-radius: 0.25em 0.25em 0.25em 0;
}

.block__function--container {
  width: max-content;
  display: flex;
  flex-direction: column;
}

.block__function--nested-block {
  position: relative;
  padding-left: 1em;
  min-height: 1em;
}

.block__function--nested-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 100%;
  background-color: #f5a623;
}

.block__function--end {
  border-radius: 0em 0.25em 0.25em 0.25em;
  min-width: 8em;
}

.block__function::after {
  border-top: 0.4em solid #f5a623;
}

.block__function--end::before,
.block__function::after {
  left: 1.75em;
}

.block__function--end::after {
  left: 0.75em;
}

.block__function--call {
  border-radius: 0.25em;
}

.block__function--start.block__function--anonymous::before {
  content: none;
}

.block__function--end.block__function--anonymous::after {
  content: none;
}

.block__function--call::after {
  left: 0.75em;
}

.block__function--return::after {
  left: 0.75em;
}
