:root {
  /* Color constants */
  --primary_color-50: #e4d1ff;
  --primary_color-100: #caa3ff;
  --primary_color-200: #af75ff;
  --primary_color-300: #9447ff;
  --primary_color-400: #7919ff;
  --primary_color-500: #6200ea;
  --primary_color-600: #14002f;
  
  --secondary_color-50: #d2faff;
  --secondary_color-100: #a4f5ff;
  --secondary_color-200: #77f0ff;
  --secondary_color-300: #4aebff;
  --secondary_color-400: #1de6ff;
  --secondary_color-500: #008191;
  --secondary_color-600: #005661;

  --tertiary_color-50: #ffcfdf;
  --tertiary_color-100: #ffa0c0;
  --tertiary_color-200: #ff70a0;
  --tertiary_color-300: #ff4081;
  --tertiary_color-400: #e4004e;
  --tertiary_color-500: #89002f;
  --tertiary_color-600: #5b001f;

  --background_color-dark: #2e2c31;
  --background_color-light-dark: #3a3a3a;
  --background_color-light: #f2ecfc;
  --text_color-dark: #404040;
  --text_color-light: #fff;

  /* Root values */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text_color-light);
  background-color: var(--primary_color-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}
